.drum {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 0.4rem solid hsl(0, 0%, 0%);
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;

  transition: all 2s ease;
  width: 10rem;
  text-align: center;
  color: hsl(47, 100%, 50%);
  background: hsla(0, 0%, 0%, 0.4);
  text-shadow: 0 0 0.5rem hsl(0, 0%, 0%);
}

.drum.is-playing {
  transform: scale(1.1);
  border-color: hsl(47, 100%, 50%);
  background-color: hsl(47, 100%, 50%);
  box-shadow: 0 0 1rem hsl(47, 100%, 50%);
}

.kbd-key-name {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
